<div class="container">
    <h2>Dodaj studenta</h2>
    <form ng-submit="$ctrl.submitForm()">
        <fieldset ng-disabled="$ctrl.isSubmitting">

            <fieldset class="form-group">
            <input class="form-control"
                type="text"
                placeholder="Imię"
                ng-model="$ctrl.formData.first_name" 
                ng-disabled="$ctrl.isSaved" required
                maxlength="50"/>
            </fieldset>

            <fieldset class="form-group">
                <input class="form-control"
                    type="text"
                    placeholder="Nazwisko"
                    ng-model="$ctrl.formData.last_name" 
                    ng-disabled="$ctrl.isSaved" required
                    maxlength="100"/>
            </fieldset>

            <fieldset class="form-group">
                <input class="form-control"
                    type="email"
                    placeholder="E-mail"
                    ng-model="$ctrl.formData.email" 
                    ng-disabled="$ctrl.isSaved" required
                    maxlength="100"/>
            </fieldset>

            <fieldset class="form-group">
                <input class="form-control"
                    type="text"
                    placeholder="Data urodzenia w formacie rrrr-mm-dd"
                    ng-model="$ctrl.formData.birthday" 
                    ng-disabled="$ctrl.isSaved" required
                    maxlength="10"/>
            </fieldset>

            <fieldset class="form-group">
            <textarea class="form-control form-control-lg"
                rows="8"
                placeholder="Notatki"
                ng-model="$ctrl.formData.notes"
                ng-disabled="$ctrl.isSaved"
                maxlength="500">
            </textarea>
            </fieldset>
            <a ui-sref="app.student.list()" class="btn btn-primary custom-button">Wstecz</a>
            <button class="btn btn-primary custom-button custom-button-right"
            type="submit" ng-disabled="$ctrl.isSaved">
                    <span ng-if="$ctrl.isSaved">Przetwarzanie</span> 
                    <span ng-if="!$ctrl.isSaved">Dodaj</span>        
            </button>
        </fieldset>
    </form>
</div>
